.task {
    width: 950px;
    padding: 20px;
}

.item {
    color: black;
    background-image: url("https://storage.googleapis.com/multi-static-content/previews/artage-io-thumb-64307f0ad8c95bf121387dbc9ee45d65.png");
    background-size: 120%;
    background-position: -100px -10px;
    border-radius: 25px;
    box-shadow: black 2px 2px 5px 0;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    font-family: Monotype Corsiva, cursive;
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
    position: relative;
}


img {
    position: absolute;
    right: 0;
    height: 50px;
    cursor: pointer;
}

.info {
    text-decoration: underline;
}
