.item {
    display: flex;
    flex-wrap: wrap;

}
.item label {
    margin: 10px 40px;
}
.item textarea, input {
    margin: 0 auto;
    outline:none;
}

textarea:focus {
    box-shadow: gray 4px 4px 5px 4px;
}

input:focus {
    box-shadow: gray 4px 4px 5px 4px;
}
label {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
}

textarea, input {
    margin-bottom: 10px;
    padding: 2px 5px;
    border: 1px solid gray;
}

.input {
    border-radius: 5px;
}