button.add {
    margin-top: 25px;
    background-color: #f95f26;
}

button {
    border-radius: 5px;
    background-color: #dad0af;
    width: 180px;
    height: 40px;
    margin: 10px auto;
    border: 1px solid gray;
    outline:none;
}

button:hover {
    width: 200px;
    box-shadow: gray 4px 4px 5px 2px;
}