.layout {
    display: flex;
    flex-wrap: nowrap;
    position: relative; /*.container*/
    padding-left: 80px;
}

.addTaskContent {
    border: 1px solid black;
    padding-top: 20px;
    background-color: #f4e8c4;
    /*margin: 20px;*/
    margin-top: 180px;
    /*margin-bottom: 40px;*/
    border-radius: 5px;
    width: 250px;
    height: 465px;
    position: relative;
    text-align: center;
    box-shadow: gray 5px 5px 5px 5px;
}

/*.title {
    font-family: Monotype Corsiva, cursive;
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
    filter: drop-shadow(5px 5px 3px saddlebrown);
}*/
